In [6]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('summary_by_Jobnum.csv')
df.shape

(9948, 7)

In [48]:
df_sub = df.loc[df['JOBNUM'].isin(df['JOBNUM'].value_counts()[:50].index.tolist())]
df_sub.index=df_sub['JOBNUM']
df_sub.shape

(50, 7)

In [49]:
df_sub.rename({'N Rows':'Qty', 
               'Mean(WEW_R0_NM)':'MCW_Mean', 
               'Mean(OW_R0_DB)':'OW_Mean',
               'Mean(Pred_ACC_CMR)':'ACC_Mean', 
               'Std Dev(WEW_R0_NM)':'MCW_sigma',
               'Quantiles99(J_TSW_G3)':'J_TSW_P99'}, axis=1, inplace=True)
df_sub.head()

C:\Users\1000257489\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,JOBNUM,Qty,MCW_Mean,OW_Mean,ACC_Mean,MCW_sigma,J_TSW_P99
JOBNUM,,,,,,,
30588639,30588639,494,60.564478,30.971032,102.070681,4.452656,-214.283427
39402783,39402783,418,58.635196,30.239385,100.881288,8.438941,-146.412493
39402905,39402905,196,59.190771,30.549642,102.916607,5.228524,-189.865241
39402943,39402943,277,58.859190,30.687694,102.414342,5.162776,-177.108242
39403056,39403056,444,57.937674,29.038624,102.155759,6.560648,-159.405380

In [50]:
data = df_sub[['Qty', 'MCW_Mean']]

In [46]:
def FindCombination(df, block, cond):
#     res = pd.DataFrame() # 最终结果
#     block = pd.DataFrame(dtype='float64', columns=['Qty', 'MCW_Mean']) # 符合条件的组合
#     cond = pd.DataFrame(dtype='float64', columns=['Qty', 'MCW_Mean']) # condition
    def backtrack(df, cond, block, startIndex):
        
        if (len(cond)>0) & (61.5 <= cond['MCW_Mean'].values <= 62.4) & (cond['Qty'].values > 900): 
            return block
            
        for i in range(startIndex, len(df)):  #要对同一树层使用过的元素进行跳过
            row = df.iloc[i]
            block = pd.concat([block, pd.DataFrame(row).T], axis=0)       
            cond = pd.DataFrame(data=[[np.sum(block, axis=0)[0], np.average(block['MCW_Mean'], weights=block['Qty'])]], 
                                columns=['Qty', 'MCW_Mean'])
            print(len(block), '\n',cond)
            print('='*40)
            res = backtrack(df,cond, block, i+1)  #i+1:每个数字在每个组合中只能使用一次
#             print(res)
            if len(res) > 0:
                return res
            block = block[:-1]  #回溯
#             print(block)
#             if len(block)==0:
#                 cond = pd.DataFrame(dtype='float64', columns=['MCW_Mean', 'Qty'])
#             else:
#                 cond = pd.DataFrame(data=[[np.sum(block, axis=0)[0], np.average(block['MCW_Mean'], weights=block['Qty'])]],
#                                         columns=['Qty', 'MCW_Mean']) #回溯
        return pd.DataFrame()
#     df.sort_values(by=['MCW_Mean'])
    res = backtrack(df, cond, block, 0)
    return res

In [51]:
block = pd.DataFrame(dtype='float64', columns=['Qty', 'MCW_Mean']) # 符合条件的组合
cond = pd.DataFrame(dtype='float64', columns=['Qty', 'MCW_Mean']) # condition

FindCombination(data, block, cond)

C:\Users\1000257489\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  import sys

1
      Qty   MCW_Mean
0  494.0  60.564478
========================================
2
      Qty   MCW_Mean
0  912.0  59.680224
========================================
3
       Qty   MCW_Mean
0  1108.0  59.593642
========================================
4
       Qty   MCW_Mean
0  1385.0  59.446752
========================================
5
       Qty   MCW_Mean
0  1829.0  59.080414
========================================
6
       Qty   MCW_Mean
0  2322.0  59.309172
========================================
7
       Qty   MCW_Mean
0  3310.0  60.809114
========================================
8
       Qty   MCW_Mean
0  3319.0  60.800024
========================================
9
       Qty   MCW_Mean
0  3798.0  60.990295
========================================
10
       Qty   MCW_Mean
0  3917.0  61.140805
========================================
11
       Qty  MCW_Mean
0  4365.0  60.96489
========================================
12
       Qty   MCW_Mean
0  4829.0  60.951948
========================================
13
       Qty   MCW_Mean
0  5304.0  61.290053
========================================
14
       Qty   MCW_Mean
0  5374.0  61.341597
========================================
15
       Qty   MCW_Mean
0  5863.0  61.559025
========================================

            Qty   MCW_Mean
30588639  494.0  60.564478
39402783  418.0  58.635196
39402905  196.0  59.190771
39402943  277.0  58.859190
39403056  444.0  57.937674
39403100  493.0  60.157848
39403216  988.0  64.334283
39403292    9.0  57.456739
39403605  479.0  62.308685
39403698  119.0  65.944479
39403766  448.0  59.426812
39403841  464.0  60.830200
39403889  475.0  64.727330
39403926   70.0  65.247172
39403971  489.0  63.948515